@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
    width: 50px; /* Điều chỉnh chiều rộng của logo nếu cần */
    height: auto; /* Giữ tỷ lệ khung hình của logo */
  }
  
  .logo-text {
    margin-left: 8px; /* Khoảng cách giữa logo và chữ */
  }
  
  